fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
alembic
psycopg2-binary
python-dotenv
celery
redis
typing-extensions
typing
IPython
langgraph
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
elevenlabs
elevenlabs-mcp